# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
env/
venv/

# Django
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# OS
.DS_Store
# Secrets
.env
.env.*

# Fichiers générés
*.pdf
*.log
